av
demucs
einops
encodec
flashy
gradio
hydra-core
huggingface_hub
hydra_colorlog
julius
librosa
num2words
numpy
sentencepiece
spacy
torch==2.0.1
torchaudio
torchvision
tqdm
transformers
torchmetrics
xformers


