av
demucs
einops
encodec
flashy
gradio
hydra-core
huggingface_hub
hydra_colorlog
julius
librosa
num2words
numpy
sentencepiece
spacy
torch==2.3.1
torchaudio==2.3.1
torchvision
tqdm
transformers
torchmetrics
xformers


